.Menu4{
    /* border-style: dashed; */
    height: 100px;
    width: 83%;
    margin-left: 115px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
    background-color:#fff;
    position: relative;
    margin-top: 660px;
  }
  .menucontent{
    height: 100px;
    width: 95%;
    margin: 0 auto;
    /* border-style: dashed; */
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
  }
  .destination,.date,.duration,.butt2{
    height: 3rem;
    width: 10rem;
    /* border-style: dashed; */
    margin-top: 1.5rem;
  }
  .butt2{
    color: #fff;
    background-color: #7AB730;
    border-color: #7AB730;
    border: 1px solid transparent;
  }
  