body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #656565;
  text-align: left;
  background-color: #F3F3F3;
}.Navibar{
  height: 100px;
  width: 100%;
  /* position: absolute; */
  /* border-style: dotted; */
}
.menu1{
  height: 50px;
  /* width: 15%; */
  /* border-style: dashed; */
  float: left;
  margin-top: 15px;
  margin-left: 120px;
}
.menu2{
  height: 50px;
  /* width: 10%; */
  margin-left: 15px;
  margin-top: 15px;
  /* border-style: dotted; */
  float: left;
}
.menu3{
  height: 50px;
  color: #7AB730;
  margin-top: 15px;
  /* border-style: dotted; */
  float: right;
  margin-right: 115px;
  cursor: pointer;
  display: flex;
}
.icon1,.icon2,.icon3,.icon4,.icon5{padding-left: 30px;}
.Banner1{
  height: 700px;
  width: 100%;
  /* border-style: dotted; */
}
.Bannercon{
  height: 650px;
  width: 100%;
  background-image: url(./image/carousel-1.jpg);
  /* position: absolute; */
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(50%);
  /* border-style: dashed; */ 
}
.Bannercon2{
  height: 650px;
  width: 100%;
  background-image: url(./image/carousel-2.jpg);
  background-repeat: no-repeat;
  filter: brightness(50%);
  background-size: cover;
}
.text1{
  margin-bottom: 10px;
}
.text2{color: #fff;
  margin-bottom: 40px;
  font-weight: bolder;
  font-family: sans-serif; 
  font-size: 5rem;}
  .nav-link{
    color: #212121;
    font-weight: 500;
  }
  Navbar.Brand{
    margin-left: 100px;
  }
  .home1{
    color: #7AB730;
  }
  .nav-link:hover{
    color: #7AB730;
  }
h3{color: #fff;}
.butt1{
  border-color: #7AB730;
  background-color: #7AB730;
  color: #fff;
  margin-bottom: 80px;
  height: 3rem;
  width: 8rem;
  font-size: 1rem;
  font-family: sans-serif;
  border: 1px solid transparent;
}
.butt1:hover{
  filter: brightness(75%);
}
.bg-body-tertiary{
  height: 80px;
  width: 83%;
  margin-left: 115px;
  background-color: azure;
  position: relative;
  margin-top: -750px;
}
.me-auto{
  /* border-style: dotted; */
  margin-left: 350px;
}
.title{color: #7AB730;}
.Menu4{
  border-style: dashed;
  height: 100px;
  width: 83%;
  margin-left: 115px;
  background-color:aqua;
  position: relative;
  margin-top: 540px;
}
.about1
{
  margin-top: 200px;
  margin-left: 115px;
  float: left;
}
.abouttext{
  background-color:#fff;
  /* border-style: dotted; */
  float: right;
  width: 40%;
  position: absolute;
  padding-right: 20px;
  margin-top: -650px;
  margin-left: 450px ;
}
.aboutimage2{
  float: right;
  
}


